.landing {
    background-color: var(--backColor);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex: 1;
    min-height: 100%;
}

.landingContainer {
    width: 100%;
    display: flex;
    max-width: 1200px;
}

.left, .right {
    width: 50%;
    padding: 1rem;
}

.heading h1 {
    font-weight: 600;
    color: var(--accent-color);
    margin: 0;
}

.heading h3 {
    margin-top: 0.42rem;
    margin-bottom: 0.69rem;
}

.description {
    max-width: 400px;
}

@media screen and (max-width: 576px) {
    .landingContainer {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }

    .description {
        max-width: unset !important;
    }
}