.landingContainer {
    width: 100%;
    display: flex;
    max-width: 1200px;
}

.left, .right {
    width: 50%;
    padding: 1rem;
}

.heading h1 {
    font-weight: 600;
    color: #31BE00;
    margin: 0;
}

.heading h3 {
    margin-top: 0.42rem;
    margin-bottom: 0.69rem;
}

.description {

}

@media screen and (max-width: 576px) {
    .landingContainer {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
    }
}