@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

.terminalContainer {
  background-color: #212121;
  width: 100%;
  border-radius: 12px;
  min-height: 300px;
  box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.42);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  background-color: #383838;
  height: 30px;
  position: relative;
  border-radius: 12px 12px 0 0;
}

.header .heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Courier Prime", monospace;

}

.heading h3 {
  font-weight: 500;
  font-size: 15px;
  margin: 0;
}

.optionsContainer {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 60px;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

.optionsContainer p {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  padding-left: 10px;
}

.optionsContainer .red {
  background-color: #ff5a5a;
}

.optionsContainer .yellow {
  background-color: #f5c13a;
}

.optionsContainer .green {
  background-color: #2a9e02;
}

.cmd {
  align-self: end;
  width: 100%;
  min-height: 50px;
  border: none;
  outline: none;
  padding: 1rem;
  font-family: "Courier Prime", monospace;
  border-radius: 0 0 12px 12px;
  background-color: #3f3f3f;
  color: white;
}


.log {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  font-family: "Courier Prime", monospace ;
  height: 220px;
  max-height: 220px;
  overflow-y: clip;
  color: #31be00;
}

