

.header {
  width: 100%;
  background-color: var(--headerColor);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

.header .headerContainer {
  max-width: 1200px;
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logoContainer {
  font-weight: 600;
  padding-left: 1rem;

}

.header .logoContainer :hover{
  transform: scale(0.9);
  color: white;
  -webkit-filter: url("filter.svg#glitch");
  filter: url("filter.svg#glitch");
}

.header .logoContainer span {
  color: var(--accent-color);
}

.header .headerContent {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;

}

.header .headerContent .optionsContainer {
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
}

.header .headerContent .optionsContainer .option:hover{
  color: var(--accent-color);
  transform: scale(1.1);
}

.header .headerContent .themeToggle:hover {
  color: var(--accent-color);
}

.header .headerContent .themeToggle div.light {
  display: none;
}

.header .headerContent .optionsContainer .option {
  padding-right: 15px;
}

.header .headerContent .hamburger {
  display: none;
}

@media screen and (max-width: 576px) {
.header .headerContent .hamburger {
  padding-left: 15px;
  display: block;
}

.header .headerContent .optionsContainer {
  display: none;
}
}