.eventcontainer {
    background-color: var(--backColor2);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.eventimage {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 100%;
    max-width: 800px;
    position: relative;
}

.eventimage .image {
    max-width: 100%;
    height: auto;
    max-height: 900px;
}

.eventdescription {
    white-space: pre-wrap;
    max-width: 800px;
    padding: 1rem 0;
}

.eventdescription p {
    max-width: 95%;
}

.eventdescription span {
    color: crimson;
}

.eventdescription a {
    color: blueviolet;
}